<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.woodee.mapper.BoardMapper">

    <!--목록과 데이터 개수 처리-->
    <sql id="criteria">
        <trim prefix="(" suffix=") AND" prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'C'.toString()">
                            content like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <!--검색 및 페이징 처리 (동적 SQL)-->
    <select id="getListWithPaging" resultType="org.woodee.domain.BoardVO">
        <![CDATA[
        SELECT bno, title, content, writer,regdate, updatedate
        FROM(
            SELECT /*+ INDEX_DESC(tbl_board pk_board)*/
             rownum rn, bno, title, content, writer, regdate,updatedate
            FROM tbl_board
            WHERE
        ]]>
        
        <include refid="criteria"></include>   
        
        <![CDATA[
             rownum <= #{pageNum} * #{amount}
        )
        WHERE rn > (#{pageNum}-1) * #{amount}
        ]]>
    </select>

    <select id="getList" resultType="org.woodee.domain.BoardVO">
    <![CDATA[
        select * from tbl_board where bno > 0
    ]]>
    </select>

    <select id="read" resultType="org.woodee.domain.BoardVO">
        select * from tbl_board where bno = #{bno}
    </select>

    <insert id="insert">
        INSERT INTO tbl_board(bno, title, content, writer)
        VALUES(seq_board.nextval, #{title}, #{content}, #{writer})
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="bno" order="BEFORE" resultType="long">
            SELECT seq_board.nextval from dual
        </selectKey>
        INSERT INTO tbl_board(bno, title, content, writer)
        VALUES(#{bno}, #{title}, #{content}, #{writer})
    </insert>

    <delete id="delete" >
        DELETE FROM tbl_board
        WHERE bno = #{bno}
    </delete>

    <update id="update">
        UPDATE tbl_board
        SET title = #{title}, content = #{content}, writer = #{writer}, updateDate = sysdate
        WHERE bno = #{bno}
    </update>

    <!--목록과 데이터 개수처리를 위해 getListWithPaging 과 마찬가지로 동적 SQL 넣어줘야한다.-->
    <select id="getTotalCount" resultType="int">
        SELECT count(*)
        FROM tbl_board
        WHERE
            <include refid="criteria"></include>
        bno > 0
    </select>

    <!--메모 및 참고-->

    <!--
    rownum을 이용하면 1부터 구할 수 있다. 즉 11~20을 바로 못 구한다.
    그래서 인라인뷰를 이용해 1~20 을 구한뒤 필요한 페이징 처리를 한다.
    인라인뷰에서는 rownum 의 기준을 pageNum(몇페이지로 나타낼건지) * amount(페이지당 몇개 나타낼건지)
    테이블 where 절에서는 rownum 을 (pageNum-1) * amount 로 한다.
    -->
    <!--
    //페이징 처리만 하는 쿼리문
    <select id="getListWithPaging" resultType="org.woodee.domain.BoardVO">
        <![CDATA[
        SELECT bno, title, content, writer,regdate, updatedate
        FROM(
            SELECT /*+ INDEX_DESC(tbl_board pk_board)*/
             rownum rn, bno, title, content, writer, regdate,updatedate
            FROM tbl_board
            WHERE rownum <= #{pageNum} * #{amount}
        )
        WHERE rn > (#{pageNum}-1) * #{amount}
        ]]>
    </select>
    -->
</mapper>